{% extends 'social/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <!-- Jumbotron -->
    <div id="intro" class="p-5 text-center bg-light">
        <h1 class="mb-0 h4">{{ post.title }}</h1>
    </div>

    <!--Main layout-->
    <main class="mt-4 mb-5">
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-8 mb-4">
                    <!--Section: Post data-mdb-->
                    <section class="border-bottom mb-4">
                        <a href="{% if post.post_images.all.0 %}/media/{{ post.post_images.all.0.images }}{% endif %}">
                            <img src="{% if post.post_images.all.0 %}/media/{{ post.post_images.all.0.images }}{% else %}{% static "social/img/no_image.png" %}{% endif %}"
                                 class="img-fluid shadow-2-strong rounded mb-4" alt=""/>
                        </a>

                        <div class="row align-items-center mb-4">
                            <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img (23).jpg"
                                     class="rounded shadow-1-strong me-2"
                                     height="35" alt="" loading="lazy"/>
                                <span> Published <u>{{ post.publish }}</u> by</span>
                                <a href="{% url 'social:customer_other_profile' post.author.username %}" class="text-dark">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                            </div>

                            <div class="col-lg-6 text-center text-lg-end">
                                <button type="button" class="btn btn-primary px-3 me-1"
                                        style="background-color: #3b5998;">
                                    <i class="fab fa-facebook-f"></i>
                                </button>
                                <button type="button" class="btn btn-primary px-3 me-1"
                                        style="background-color: #55acee;">
                                    <i class="fab fa-twitter"></i>
                                </button>
                                <button type="button" class="btn btn-primary px-3 me-1"
                                        style="background-color: #0082ca;">
                                    <i class="fab fa-linkedin"></i>
                                </button>
                                <button type="button" class="btn btn-primary px-3 me-1">
                                    <i class="fas fa-comments"></i>
                                </button>
                            </div>
                        </div>
                    </section>
                    <!--Section: Post data-mdb-->

                    <!--Section: Text-->
                    <section>
                        <p>
                            {{ post.body|linebreaks }}
                        </p>
                        <hr>
                        {% for image in post.post_images.all %}
                            {% if not forloop.first %}
                                <a href="/media/{{ image.images }}">
                                    <img src="/media/{{ image.images }}"
                                         class="img-fluid shadow-1-strong rounded mb-4"
                                         alt=""/>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </section>
                    <!--Section: Text-->

                    <!--Section: Share buttons-->
                    <section class="text-center border-top border-bottom py-4 mb-4">
                        <p><strong>Share with your friends:</strong></p>

                        <button type="button" class="btn btn-primary me-1" style="background-color: #3b5998;">
                            <i class="fab fa-facebook-f"></i>
                        </button>
                        <button type="button" class="btn btn-primary me-1" style="background-color: #55acee;">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button type="button" class="btn btn-primary me-1" style="background-color: #0082ca;">
                            <i class="fab fa-linkedin"></i>
                        </button>
                    </section>
                    <!--Section: Share buttons-->

                    {% if  counter_comments %}
                        <!--Section: Comments-->
                        <section class="border-bottom mb-3">
                            <p class="text-center"><strong>Comments : {{ counter_comments }}</strong></p>
                            {% for comment in comments %}
                                <div class="row mb-4">
                                    <div class="col-2">
                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg"
                                             class="img-fluid shadow-1-strong rounded" alt=""/>
                                    </div>

                                    <div class="col-10">
                                        <p class="mb-2"><strong>{{ comment.user }}</strong> {{ comment.publish }}
                                        </p>
                                        <p>
                                            {{ comment.comment|linebreaks }}
                                        </p>
                                    </div>
                                </div>
                            {% empty %}
                                <p>There are no comments yet.</p>
                            {% endfor %}
                            {% if comments > 3 %}
                                {% include 'social/components/pagination.html' with page=comments %}
                            {% endif %}
                        </section>
                        <!--Section: Comments-->
                    {% endif %}

                    <!--Section: Reply-->
                    <section>
                        <p class="text-center"><strong>Leave a reply</strong></p>
                        <form method="post">
                            {% csrf_token %}
                            {% for comment in comment_form %}
                                <div class=" mb-4">
                                    {{ comment.label }}
                                    {{ comment|add_class:'form-control' }}
                                    {{ comment.errors }}
                                </div>
                                <br/>
                            {% endfor %}
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Publish
                            </button>
                        </form>

                    </section>
                    <!--Section: Reply-->
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-4">
                    <!--Section: Sidebar-->
                    <section class="sticky-top" style="top: 80px;">
                        <!--Section: Ad-->
                        <section class="text-center border-bottom pb-4 mb-4">
                            <div class="bg-image hover-overlay ripple mb-4">
                                <img
                                        src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/content/en/_mdb5/standard/about/assets/mdb5-about.webp"
                                        class="img-fluid"/>
                                <a href="https://mdbootstrap.com/docs/standard/" target="_blank">
                                    <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                                </a>
                            </div>
                            <h5>Material Design for Bootstrap 5</h5>

                            <p>
                                500+ components, free templates, 1-min installation, extensive tutorial, huge
                                community. MIT license - free for personal & commercial use
                            </p>
                            <a role="button" class="btn btn-primary" href="https://mdbootstrap.com/docs/standard/"
                               target="_blank">Download for free<i class="fas fa-download ms-2"></i></a>
                        </section>
                        <!--Section: Ad-->

                        <!--Section: Video-->
                        <section class="text-center">
                            <h5 class="mb-4">Learn the newest Bootstrap 5</h5>

                            <div class="embed-responsive embed-responsive-16by9 shadow-4-strong">
                                <iframe class="embed-responsive-item rounded"
                                        src="https://www.youtube.com/embed/c9B4TPnak1A"
                                        allowfullscreen></iframe>
                            </div>
                        </section>
                        <!--Section: Video-->
                    </section>
                    <!--Section: Sidebar-->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    </main>
    <!--Main layout-->

{% endblock %}