{% extends "components/base.html" %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <h1 class="text-white">Are You Sure To Delete ?</h1>
    <div class="product-detail">
        <a href="{% if product.postimage_set.all.0.image %} /media/{{ product.postimage_set.all.0.image }}{% else %}{% static "img/no_image.png" %}{% endif %} ">
            <img src="{% if product.postimage_set.all.0.image %} /media/{{ product.postimage_set.all.0.image }}{% else %}
{% static "img/no_image.png" %}{% endif %}">
        </a>

        <h1 class="text-warning">{{ product.name }}</h1>
        <h2>
            <a class="btn btn-outline-primary" href="{{ product.category.get_absolute_url }}">
                {{ product.category }}
            </a>
        </h2>

        <p class="price text-warning">${{ product.price }}</p>

        <p class="text-white">{{ product.description }}</p>
     <table class="table table-dark">
        <tr>
            <td> <form action="" method="post">
             {% csrf_token %}
        <button class="btn btn-danger" type="submit" value="remove"> remove</button>
    </form></td>
            <td> <a class="btn btn-primary" href="{% url 'shop:product_detail' product.id product.slug %}">cancel</a></td>
        </tr>
    </table>
    </div>
    <div>
        {% for img in product.postimage_set.all %}
            <a href="/media/{{ img.image }}">
                <img src="/media/{{ img.image }}" alt="{{ img.image }}" width="300px">
            </a>
        {% endfor %}
    </div>

    <div class="container">
    <h5 class="text-white">Total comments {{ product.comment_set.all.count }} </h5>
        {% for comment in product.comment_set.all %}
            <table class="table-dark text-dark">
          <thead>
            <tr>
                  <th scope="col">{{ comment.name }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ comment.created }}</td>
            </tr>
            <tr>
              <td class="text-white">{{ comment.comment }}</td>
            </tr>
          </tbody>
        </table>
            <hr>
        {% endfor %}
    </div>
{% endblock %}