{% extends "components/base.html" %}
{% load static %}
{% block title %}Register{% endblock %}
{% load widget_tweaks %}
{% block content %}
    <h1 class="text-white">Register</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for input in registerform %}
               <div class="mb-3">
            <h5 class="text-white">{{ input.label }}</h5>
            {{ input|add_class:'form-control' }}
        </div>
            {{ input.errors }}<br>
        {% endfor %}
        <input class="btn text-white btn-outline-primary" type="submit" value="register"/>
        <a class="btn text-white btn-outline-primary">Cancel</a>
    </form>
{% endblock %}